body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #191919;
}

header {
    background-image: linear-gradient(to right, #2c3e50, #485a6e);
    color: #fff;
    padding: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 24px;
}

.cta-button {
    background-color: #83b0cc;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    border: none;
    position: relative;
    overflow: hidden;
    transition: background-color 0.3s ease;
}

.cta-button::before,
.cta-button::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #fff;
    transition: all 0.3s ease;
}

.cta-button::before {
    top: 0;
    left: 0;
    transform: translateY(-100%);
}

.cta-button::after {
    bottom: 0;
    left: 0;
    transform: translateY(100%);
}

.cta-button:hover {
    background-color: transparent;
}

.cta-button:hover::before,
.cta-button:hover::after {
    transform: translateY(0);
}

.container {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

#portfolio .grid {
    padding: 60px 30px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, auto);
    gap: 50px;
}

.card-link {
    text-decoration: none;
    color: inherit;
}

.card {
    background-color: #ecf0f1;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 5px 5px 15px rgba(255, 255, 255, 0.1);
    transition: transform 0.3s ease;
    text-align: center;
    display: flex;
    flex-direction: column;
    height: 250px; /* Definindo uma altura fixa para os cards */
}

.card:hover {
    transform: scale(1.05);
}

.card img {
    max-width: 50%;
    border-radius: 10px;
    margin: 0 auto 20px;
}

footer {
    background-image: linear-gradient(to right, #2c3e50, #485a6e);
    color: #fff;
    padding: 30px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 14px;
}
